body{
    font-family: Arial;
    margin: 0;
    background-color: #077A7D;
}

.navbar {
    text-align: center;
    padding: 10px 0;
}

.navbar a{
    display: inline-block;
    color: black;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 5px;
}

.header {
    margin-left: 30px;
}

.header h1{
    font-size: 50px;
    color: white;
    text-align: left;
}

.header hr{
    width: 200px;
    border: 5px solid white;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 50px;
}

.team {
    margin-left: 30px;
}

.member img:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 32px black;
}

.member{
    text-align: center;
    color: white;
}

.line1{
    display: flex;
    gap: 12rem;
}
.line2{
    display: flex;
    gap: 12rem;
    margin-top: 50px;
    padding-left: 180px;
}

.team img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid black;
}

footer {
    background: #1ec6b6;
    color: #fff;
    padding: 3rem 0 2rem 0;
    text-align: center;
    margin-top: 0;
}

.footer-menu {
    margin-bottom: 1rem;
}

.footer-menu a {
    color: #fff;
    margin: 0 18px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.2s;
}

.footer-menu a:hover {
    color: #ffeb3b;
}

.footer-content p {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}